<!--https://getbootstrap.com/docs/5.0/components/button-group/ -->

<div class="container py-5">
  <app-utility-nav></app-utility-nav>
</div>
<div class=" card shadow">----------------------------Below This is previous UI sent for Doppler SA</div>
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-6">

      <!-- Title Card -->
      <div class="card shadow-sm mb-4 text-center">
        <div class="card-body">
          <h3 class="mb-2">Blood Cell Type Image Classification</h3>
          <p class="text-muted mb-0">
            Upload a blood cell image to get the predicted blood cell type.
          </p>
        </div>
      </div>

      <!-- Upload Section -->
      <div *ngIf="!imagePreview" class="card shadow-sm">
        <div class="card-body text-center">

          <div class="mb-3">
            <label class="form-label fw-semibold">Upload Image</label>
            <input
              class="form-control"
              type="file"
              accept="image/*"
              (change)="onFileSelected($event)"
            />
          </div>

          <button
            class="btn btn-primary w-100"
            (click)="predict()"
            [disabled]="!selectedFile"
          >
            Predict
          </button>

        </div>
      </div>

      <!-- Preview & Result -->
      <div *ngIf="imagePreview" class="card shadow-sm">
        <div class="card-header text-center fw-semibold">
          Input Blood Cell Image
        </div>

        <img
          [src]="imagePreview"
          class="card-img-top"
          style="object-fit: cover; max-height: 300px;"
          alt="Blood Cell"
        />

        <div class="card-body">

          <div class="d-flex justify-content-between mb-3">
            <button class="btn btn-outline-secondary btn-sm" (click)="clearImage()">
              Upload New blood cell image
            </button>

            <button class="btn btn-primary btn-sm" (click)="predict()">
              Re-Predict
            </button>
          </div>

          <div *ngIf="loading$ | async" class="text-center">
            <div class="spinner-border text-primary" role="status"></div>
            <p class="mt-2 mb-0">Predicting...</p>
          </div>

          <div *ngIf="result && (loading$ | async) === false" class="mt-3">
            <h5 class="mb-3">Prediction Result :</h5>

           <!-- <p class="mb-1">
              <strong>Label:</strong>
              {{ result.predictions.predicted_label }}
            </p> -->

            <p class="mb-1">
              <strong>Blood cell type:</strong>
              {{ result.predictions.predicted_class_name }}
            </p>

            <p class="mb-2">
              <strong>Confidence score:</strong>
              {{ result.predictions.confidence_scores * 100 | number:'1.2-2' }}%
            </p>
            <div class="progress" style="height: 20px;">
              <div
                class="progress-bar"
                role="progressbar"
                [style.width.%]="result.predictions.confidence_scores * 100"
                [ngClass]="{
                  'bg-success': result.predictions.confidence_scores >= 0.8,
                  'bg-warning': result.predictions.confidence_scores >= 0.5 && result.predictions.confidence_scores < 0.8,
                  'bg-danger': result.predictions.confidence_scores < 0.5
                }"
              >
                {{ result.predictions.confidence_scores * 100 | number:'1.0-0' }}%
              </div>
            </div>
            <span class="badge bg-success"
                  *ngIf="result.predictions.confidence_scores >= 0.8">
              High Confidence
            </span>

            <span class="badge bg-warning text-dark"
                  *ngIf="result.predictions.confidence_scores >= 0.5 &&
                        result.predictions.confidence_scores < 0.8">
              Medium Confidence
            </span>

            <span class="badge bg-danger"
                  *ngIf="result.predictions.confidence_scores < 0.5">
              Low Confidence
            </span>

          </div>

        </div>
      </div>
      <div class="card-footer text-center text-muted small">
        Created by Barsha Lamichhane: 
         barshalamichhane.bl@gmail.com
      </div>
    </div>
  </div>
</div>


